<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{% block title %}Тяп-Ляп{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<body>
    {% if show_header %}
    <header class="header">
        
        <nav class="nav">

                <a href="{{ url_for('index') }}">ГС</a>
                <a href="{{ url_for('deals') }}">Сделки</a>
                <a href="{{ url_for('stickers') }}">Наклейки</a>
                <a href="{{ url_for('configurator') }}">Конфигуратор</a>

        </nav>
    </header>
    {% endif %}

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>