{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1>{{ title }}</h1>

<form method="POST">
    <div class="form-group">
    <div>
        <label>Название:</label>
        <input type="text" name="name" value="{{ kitchen_type.name if kitchen_type else '' }}" required>
    </div>
    <br>
    <div>
        <label>Короткое название:</label>
        <input type="text" name="short_name" value="{{ kitchen_type.short_name if kitchen_type else '' }}" required>
    </div>
    <br>
    <div>
        <button type="submit">Сохранить</button>
        <br><br>
        <a href="{{ url_for('kitchen_types') }}">Отмена</a>
    </div></div>
</form>

{% endblock %}